# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.so

# Virtual Environment
.venv/
venv/
env/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# ==========================================
# IDEs
# ==========================================

.vscode/
.idea/

# ==========================================
# macOS
# ==========================================

.DS_Store

# ==========================================
# Logs
# ==========================================

*.log